[Unit]
Description=journalmtpd
Requires=journalmtpd.socket

[Service]
User=journalmtpd
Environment=JOURNALMTPD_INI=/etc/journalmtpd.ini
ExecStart=/usr/local/journalmtpd/bin/journalmtpd
Type=notify
NotifyAccess=main
Restart=on-failure
PrivateTmp=yes
PrivateNetwork=yes
ProtectSystem=full
ProtectHome=yes
WorkingDirectory=/usr/local/journalmtpd

[Install]
Also=journalmtpd.socket
WantedBy=multi-user.target
